@model XCLHMS.Models.Employee

@{
    ViewBag.Title = "Edit";
}
<div style="font-family:Arial">
    <h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Employee</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

         

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Employee Code", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.EmployeeCode, new { @class = "form-control", @readonly = true })
                    @Html.ValidationMessageFor(model => model.EmployeeCode)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.FName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NIC, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.NIC, new { @class = "form-control", @maxlength = 13 })
                    @Html.ValidationMessageFor(model => model.NIC)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Grade, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Grade, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Grade)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DesignationID, "Select Designation", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("DesignationID", null, "--Select--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DesignationID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DepartmentId, "Select Department", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("DepartmentId", null, "--Select--", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DesignationID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmpTypeId, "Select Type", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("EmpTypeId", null, "--Select--", new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.EmpTypeId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Gender", new List<SelectListItem> {
                new SelectListItem{Text="Male",Value="Male"},
                new SelectListItem{Text="Female",Value="Female"}}, "-- Select --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Gender)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContactNo, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ContactNo)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmailAddress, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EmailAddress)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AppDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.AppDate, new { @class = "date form-control" })
                    @Html.ValidationMessageFor(model => model.AppDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateOfBirth, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.DateOfBirth, new { @class = "date form-control" })
                    @Html.ValidationMessageFor(model => model.DateOfBirth)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Salary, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Salary, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Salary)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContractExpireDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ContractExpireDate, new { @class = "date form-control" })
                    @Html.ValidationMessageFor(model => model.ContractExpireDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.terminationdate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.terminationdate, new { @class = "date form-control" })
                    @Html.ValidationMessageFor(model => model.terminationdate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Active, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBox("Active")
                    @Html.ValidationMessageFor(model => model.Active)
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary btn-success" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-large" })
                </div>
            </div>
        </div>
    }
</div>