@model XCLHMS.Models.EmployeeAllowance

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EmployeeAllowance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HouseRent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseRent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conveyance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conveyance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Casuality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Casuality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entertaiment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entertaiment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NonPracticing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NonPracticing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uniform)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uniform)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nursing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nursing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Health)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Health)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Institute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hardworking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hardworking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orderly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orderly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeniorPost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeniorPost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Washing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Washing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Computer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Computer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HPA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeType.EmpType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeType.EmpType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
