@model XCLHMS.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Product Category")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCategory.Name)
        </dd>

        <dt>
            @Html.DisplayName("Vendor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.Name)
        </dd>

        <dt>
            @Html.DisplayName("Brand")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.BrandName)
        </dd>

        <dt>
            @Html.DisplayName("Manufacture")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacture.ManufactureName)
        </dd>

        <dt>
            @Html.DisplayName("Dosage")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dosage.DosageName)
        </dd>

        <dt>
            @Html.DisplayName("AU")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AU.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-small" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-small" })
</p>
