@model XCLHMS.Models.MLC

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MLC</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.MlcNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MlcNo)
                @Html.ValidationMessageFor(model => model.MlcNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PatientName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientName)
                @Html.ValidationMessageFor(model => model.PatientName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GuardianName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GuardianName)
                @Html.ValidationMessageFor(model => model.GuardianName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MLCType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MLCType)
                @Html.ValidationMessageFor(model => model.MLCType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age)
                @Html.ValidationMessageFor(model => model.Age)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PS, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PS)
                @Html.ValidationMessageFor(model => model.PS)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdentifyMarks, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdentifyMarks)
                @Html.ValidationMessageFor(model => model.IdentifyMarks)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LetterNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LetterNo)
                @Html.ValidationMessageFor(model => model.LetterNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dated, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dated)
                @Html.ValidationMessageFor(model => model.Dated)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IncidentDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IncidentDateTime)
                @Html.ValidationMessageFor(model => model.IncidentDateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArrivalDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArrivalDateTime)
                @Html.ValidationMessageFor(model => model.ArrivalDateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Place, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Place)
                @Html.ValidationMessageFor(model => model.Place)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Blonging, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Blonging)
                @Html.ValidationMessageFor(model => model.Blonging)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.History, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.History)
                @Html.ValidationMessageFor(model => model.History)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Injuries, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Injuries)
                @Html.ValidationMessageFor(model => model.Injuries)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Xray, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Xray)
                @Html.ValidationMessageFor(model => model.Xray)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
