@model XCLHMS.Models.Pateint

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pateint</h4>
	<hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.NIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NICType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NICType)
        </dd>
     
        <dt>
            @Html.DisplayName("Patient Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientType.Name)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.MRNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MRNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmitDate)
        </dd>      

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-small" }) 
    @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-primary btn-small" })
</p>
