@model XCLHMS.Models.EmployeeRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeRole</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employeeid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.designationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.designationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isdefault)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isdefault)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.employeeroleid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
