@model XCLHMS.Models.AccountRegister

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AccountRegister</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.HeadId, "HeadId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("HeadId", String.Empty)
                @Html.ValidationMessageFor(model => model.HeadId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BillNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillNo)
                @Html.ValidationMessageFor(model => model.BillNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.billdate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.billdate)
                @Html.ValidationMessageFor(model => model.billdate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VendorId, "VendorId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VendorId", String.Empty)
                @Html.ValidationMessageFor(model => model.VendorId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnnualBudget, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnnualBudget)
                @Html.ValidationMessageFor(model => model.AnnualBudget)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BudgetRelease, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BudgetRelease)
                @Html.ValidationMessageFor(model => model.BudgetRelease)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GrossAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GrossAmount)
                @Html.ValidationMessageFor(model => model.GrossAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TaxDeduction, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TaxDeduction)
                @Html.ValidationMessageFor(model => model.TaxDeduction)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NetAmount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NetAmount)
                @Html.ValidationMessageFor(model => model.NetAmount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Balance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Balance)
                @Html.ValidationMessageFor(model => model.Balance)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
