@model XCLHMS.Models.LabTest
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Test Registration</h4>
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.Label("TokenNo", "Search by MR#/NIC", new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <input type="text" id="tokenId" class="form-control" />
            </div>
            <div class="col-md-2">
                <input type="button" id="btnSearch" value="Search" class="btn btn-primary btn-success" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LabId, "Select Lab", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LabId", (IEnumerable<SelectListItem>)ViewBag.LabId, "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LabId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PatientId, "Select Patient", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PatientId", (IEnumerable<SelectListItem>)ViewBag.PatientId, "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PatientId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TestId, "Select Test Category", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TestId", (IEnumerable<SelectListItem>)ViewBag.TestId, "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TestId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrescribedById, "Prescribe By", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PrescribedById", (IEnumerable<SelectListItem>)ViewBag.PrescribedById, "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PrescribedById)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TestConductById, "Conduct By", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TestConductById", (IEnumerable<SelectListItem>)ViewBag.TestConductById, "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TestConductById)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary btn-success" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-large" })
            </div>
        </div>
    </div>
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#btnSearch').click(function () {
                if ($('#tokenId').val() != '') {
                    var _myValue = $('#tokenId').val();
                    var ddlPatient = $("#PatientId");
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: "/LabTestModule/LabTest/GetPateintByTokenAndMR",
                        data: { "myValue": _myValue },
                        success: function (data) {
                            ddlPatient.html('');
                            $.each(data, function (id, option) {
                                ddlPatient.append($('<option></option>').val(option.id).html(option.name));
                            });
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Found error to load data!!.');
                        }
                    });
                }
                else {
                    alert('Please enter some value.');
                }
              
            });

        });
    </script>
}